{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/demo.css' %}">
	<link rel="stylesheet" href="{% static 'css/form-basic.css' %}">
</head>

    <div class="main-content">

        <!-- You only need this form and the form-basic.css -->

        <form class="form-basic" method="post" action="{% url 'mortality_form' %}">
            {% csrf_token %}
            <div class="form-title-row">
                <h1>Chance of Death Prediction</h1>
            </div>

            <div class="form-row">
                <label>
                    <span>Number of times pregnant</span>
                    <input type="text" name="age">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Systolic Blood Pressure in mmHg</span>
                    <input type="text" name="systolic_bp">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Diastolic Blood Pressure in mmHg</span>
                    <input type="text" name="diastolic_bp">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Heart Rate in bpm</span>
                    <input type="text" name="heart_rate">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Respiration Rate in bpm</span>
                    <input type="text" name="respire_rate">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Oxygen Saturation in %</span>
                    <input type="text" name="oxy_satur">
                </label>
            </div>

            <div class="form-row">
                <label>
                    <span>Temperature in Fahrenheit</span>
                    <input type="text" name="temperature">
                </label>
            </div>

            <div class="form-row">
                <button type="submit">Submit</button>
            </div>

        </form>

    </div>

</body>

</html>
